.main {
    min-height: 100vh;
}

.storeSelect {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


.radioButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}

.yearMonth {
    position: absolute;
    top: 70px;
    left: 4vw;
    /* transform: translateX(-5%); */
}

.mainRadio {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

.secondcom {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
}

.none {
    width: 20vw;
}


.weekRadio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.weekRadio div {
    text-align: center;
    white-space: nowrap;
}

.week {
    width: 100%;

}

.table {
    position: absolute;
    top: 230px;
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
}

.three {
    position: absolute;
    top: 180px;
    left: 4vw;
}

.edit {
    position: absolute;
    top: 180px;
    right: 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}